/* Global Styles */

/* Pricing toggle button */
body {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #1b1e22;
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #4f1fff;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.hero h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 6.9rem;
}

div.google-rating span {
  font-size: 18px;
  padding: 10px;
}

div.google-rating i.fa-star {
  color: gold;
}

div.google-rating {
  display: flex;
  align-items: center;
}

div.google-rating span.google-logo-wrapper {
  display: flex;
  align-items: center;
}

div.pricing-section {
  display: flex;
  justify-content: center;
}

div.pricing-section div.container {
  max-width: 1240px;
  box-shadow: 0 0 2.6rem rgb(0 0 0 / 6%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.pricing-section div.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 1200px;
}

div.pricing-section div.container header span {
  font-size: 22px;
  margin: 0 15px;
  padding: 0;
}

div.pricing-section div.container header span.toggle-title {
  font-weight: 700;
}

div.pricing-section div.container header span.toggle-option {
  font-weight: 400;
}

div.pricing-section div.container header span.inActive {
  color: #c0cdde;
  font-weight: 700;
}

div.pricing-section div.container div.calculator {
  display: flex;
}

div.pricing-section div.container div.calculator button {
  width: 44px;
  height: 44px;
  background-color: #4f1fff;
  color: white;
  border: none;
}

div.pricing-section div.container div.calculator div.counter-input {
  width: 180px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0c0c4;
}

div.pricing-section div.container div.calculator div.counter-input input {
  width: 44px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 22px;
}

div.pricing-section div.container div.calculator div.counter-input span {
  color: #647990;
  margin: 0;
}

div.pricing-section div.container div.pricing-content ul {
  display: flex;
  list-style: none;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
}
div.pricing-section div.container div.pricing-content li {
  flex: 0 1 auto;
  width: 33.33333%;
}

div.pricing-section div.container div.pricing-content article.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #e4e4e7;
  border-bottom: 0.1rem solid #e4e4e7;
  padding: 25px;
  height: 430px;
}

div.pricing-section div.container div.pricing-content article.middle {
  border-right: 0.1rem solid #e4e4e7;
  border-left: 0.1rem solid #e4e4e7;
}

div.pricing-section div.container div.pricing-content article.pricing-card h3 {
  font-size: 40px;
  margin: 0;
}

div.pricing-section div.container div.pricing-content article.pricing-card p {
  text-align: center;
  font-size: 19px;
}

div.pricing-section
  div.container
  div.pricing-content
  article.pricing-card
  div.card-actions {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.pricing-section
  div.container
  div.pricing-content
  article.pricing-card
  p.strong {
  font-weight: 700;
}

div.pricing-section
  div.container
  div.pricing-content
  article.pricing-card
  div.price {
  font-size: 56px;
  margin: 0;
  display: flex;
  font-weight: 700;
}

div.pricing-section
  div.container
  div.pricing-content
  article.pricing-card
  div.price
  span.euro-sign {
  font-size: 30px;
  margin-top: 5px;
}

div.pricing-section
  div.container
  div.pricing-content
  article.pricing-card
  p.secondary {
  color: #647990;
}

div.pricing-section
  div.container
  div.pricing-content
  article.pricing-card
  button {
  background-color: #4f1fff;
  color: white;
  border: none;
  height: 52px;
  width: 200px;
  font-size: 19px;
}

div.social-proof-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.social-proof-section div.social-container {
  display: flex;
  width: 1440px;
  justify-content: space-around;
  padding: 30px 0;
  margin-top: 30px;
}

div.social-proof-section div.social-container article.header {
  font-size: 36px;
  font-weight: 700;
  padding: 15px;
  width: 600px;
}

div.social-proof-section div.social-container article.proof {
  padding: 15px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.social-proof-section div.social-container article.proof p.percentage {
  font-size: 70px;
  font-weight: 400;
  margin: 0;
}

div.social-proof-section div.social-container article.proof p.content {
  font-size: 20px;
}

div.social-proof-section div.social-container article a {
  color: skyblue;
  text-decoration: none;
  font-size: 22px;
  border-bottom: 0.7px solid skyblue;
  padding-bottom: 10px;
  width: max-content;
}

div.social-proof-section div.social-container article div.link i {
  margin-left: 10px;
  font-size: 22px;
  color: skyblue;
}
